* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#070B2E";
}
@font-face {
  font-family: "STALKER1";
  src: url("assets/fonts/STALKER1.ttf.woff") format("woff"),
    url("assets/fonts/STALKER1.ttf.svg#STALKER1") format("svg"),
    url("assets/fonts/STALKER1.ttf.eot"),
    url("assets/fonts/STALKER1.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-track {
  box-shadow: "inset 0 0 6px rgba(9, 102, 223, 0.3)";
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(52, 54, 193);
  outline: 1px solid rgb(68, 126, 185);
}
